doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        script(src="/javascripts/login.js" defer)
  body
      include utils.pug
      .split
        .right
          .formContainer
            .form.center
                div(class="imgShell")
                  img(class='code_hunt_logo' src='/images/logo.png')
                .login-tab-group
                  if login
                    .register-tab
                      a.login(href='#register')
                        button(class='regBtn') Register
                    .login-tab.active
                      a.login.active(href='#login')
                        button(class='loginBtn active') Login
                  else
                    .register-tab.active
                      a.login.active(href='#register')
                        button(class='regBtn active') Register
                    .login-tab
                      a.login(href='#login')
                        button(class='loginBtn') Login
                form(action='/demo' method='post')
                  input(type='hidden' name='_csrf' value=token)
                  button.button(type='submit' class='demoBtn') Demo
                if login
                  #login
                    h1 Welcome Back!
                    form(id="login-form" action='/' method='post')
                      input(type='hidden' name='_csrf' value= token)
                      .form-container.login
                        .form-item
                          +field('Email Address', 'email', email, 'email')
                        .form-item
                          +field('Password', 'password', null, 'password')
                      div(class='py-4')
                        button.button.button-block(type='submit' class='btn btn-primary') Login
                  #register.hidden
                    h1 Register for Free
                    form(id="register-form" action='/register' method='post')
                      input(type='hidden' name='_csrf' value=token)
                      .form-container.register
                        .form-item
                          +field('First Name', 'first_name', first_name, 'text')
                        .form-item
                          +field('Last Name', 'last_name', last_name, 'text')
                        .form-item
                          +field('Username', 'username', username, 'text')
                        .form-item
                          label(for="bio") Bio
                            span.req *
                          textarea(name="bio", cols="30", rows="5", value= bio)
                        .form-item
                          +field('Email Address', 'email', email, 'email')
                        .form-item
                          +field('Password', 'password', password, 'password')
                        .form-item
                          +field('Confirm Password', 'confirmPassword', '', 'password')
                      div(class='py-4')
                        button.button.button-block(type='submit') Register
                else
                  #login.hidden
                    h1 Welcome Back!
                    form(id="login-form" action='/' method='post')
                      input(type='hidden' name='_csrf' value= token)
                      .form-container.login
                        .form-item
                          +field('Email Address', 'email', email, 'email')
                        .form-item
                          +field('Password', 'password', null, 'password')
                      div(class='py-4')
                        button.button.button-block(type='submit' class='btn btn-primary') Login
                  #register
                    h1 Register for Free
                    form(id="register-form" action='/register' method='post')
                      input(type='hidden' name='_csrf' value=token)
                      .form-container.register
                        .form-item
                          +field('First Name', 'first_name', first_name, 'text')
                        .form-item
                          +field('Last Name', 'last_name', last_name, 'text')
                        .form-item
                          +field('Username', 'username', username, 'text')
                        .form-item
                          label(for="bio") Bio
                          textarea(name="bio", cols="30", rows="5", value= bio)
                        .form-item
                          +field('Email Address', 'email', email, 'email')
                        .form-item
                          +field('Password', 'password', password, 'password')
                        label.subText='Password must contain at least 1 lowercase letter, uppercase letter, number, and special character (i.e. "!@#$%^&*")'
                        .form-item
                          +field('Confirm Password', 'confirmPassword', '', 'password')
                      div(class='py-4')
                        button.button.button-block(type='submit') Register
        .left
          if login
            if(errors)
              .error-display
                +validationErrorSummary(errors)
          if registerStatus
            if(errors)
              .error-display
                +validationErrorSummary(errors)
          img(class='bgImg' src='/images/login-page.png')
          img(class='introImg' src='/images/background1.png')
        .footer
              include about-us.pug
