<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    form(method="post" action="/posts/new")
      input(type="hidden" name="_csrf" value=token)
      label(for="title") Title
      input(id="title" type="text", name="title" value=title)
      label(for="description") Description
      textarea(id="description" name="description" required value=description)
      label(for="link") Link
      input(id="link" type="text", name="link" required value=link)
      select(name="languageId")
        each language in languages
          option(value=language.id)= language.name
      button(type="submit") Create new Post
    
