
extends navbar.pug

block content
    link(rel="stylesheet" href="/stylesheets/post-form.css")
    body
    .shell
        if errors2
            .error-display
                div(class='alert' role='alert') The following error(s) occurred:
                    ul
                        each error in errors2
                            li= error
        .outerContainer
            .post-form-container
                h1(class='pageTitle') Create a New Post
                form(method="post" action="/posts/new" class="form")
                    input(type="hidden" name="_csrf" value=token)
                    .form-item
                        label(for="title" class="label") Post Title
                        input(id="title" type="text", name="title" value=title)
                    .form-item
                        label(for="description" class="label") Video Description
                        textarea(id="description" name="description" cols="30" rows="10" required value=description)
                    .form-item
                        label(for="link" class="label") Video Link
                        input(id="link" type="text", name="link" required value=link)
                    .form-item
                        label(for="language" class="label") Programming Language
                        select(name="languageId" id='select')
                            each language in languages
                                option(value=language.id)= language.name
                    .btnContainer
                        .formBtn
                            button.button(type="submit") Create
    .footer
            include about-us.pug
