extends navbar.pug

block content
  h1 Hello from Profile!
  .profile-container
    .space1
    .user-logo-container
      .user-logo
        .logo= user.first_name[0]
    .user-info
      .space2
      .user-name
        strong= `${user.first_name} ${user.last_name}`
      .user-message= `I am ${user.first_name}`
      .user-id= `#${user.id }    @${user.first_name}_${user.last_name}`
      .edit-profile
        button.edit-profile-button(type="button") EDIT MY PROFILE
  .space3
    .display
      strong MY LINKS
  .links-container
    each userLink in userLinks
      div(class=".mylink-container" id=`mylinks${userLink.id}`)
        .link
          a(href=`/posts/${userLink.id}`)= userLink.link
          .delete
              button(class=`delete-logo` id=userLink.id) DELETE
  
    