extends navbar.pug

block content
      form(method="post" action=`/posts/${video.id}/delete`)
        button(type="submit" class="videoDeleteBtn") Delete
      div
        ul
          each comment in comments
            li=comment.body
            form(method="post" action=`/posts/${video.id}/comments/${comment.id}/delete` class="comment-delete-form")
              button(type="submit" class= `${comment.id}` id=`${video.id}` value= comment.id) Delete
